
# This is a test basic workflow to the home task
name: GitHub Actions Demo
# Controls when the workflow will run

run-name: ${{ github.actor }} is testing out GitHub Actions

on:
# Triggers the workflow on push or pull request events but only for the "main" branch
  push:
 # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
 # The type of runner that the job will run on
  Explore-GitHub-Actions:

    runs-on: ubuntu-latest
 # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."

      - run: echo "This job is now running on a ${{ runner.os }} server hosted by GitHub!"

      - run: echo "The name of your branch is ${{ github.ref }} and your repository is ${{ github.repository }}."

      - name: Check out repository code
 # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
        uses: actions/checkout@v4
  # Runs a single command using the runners shell
      - run: echo "The ${{ github.repository }} repository has been cloned to the runner."

      - run: echo "The workflow is now ready to test your code on the runner."

      - name: List files in the repository
# Runs a set of commands using the runners shell
        run: |

          ls ${{ github.workspace }}

      - run: echo "This job's status is ${{ job.status }}."
